* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.containerMain {
	position: fixed;
	bottom: 48px;
	right: 48px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.875rem;
	max-width: 500px;
	width: 100%;
	z-index: 9999;
	filter: drop-shadow(0px 3px 3px #9352aa66);
}

.containerMain ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
.containerMain ::-webkit-scrollbar-track {
	background: #111111;
}

/* Handle */
.containerMain ::-webkit-scrollbar-thumb {
	background: #545c6a;
	border-radius: 5px;
}

.containerMain /* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.showChatButton {
	display: block;
	width: 50px;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.chatPanelContainer {
	margin: auto;
	display: flex;
	height: 550px;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 13px;
	background-color: #111111;
	color: white;
	max-width: 500px;
	width: 100%;
	padding: 20px 0px 0px 0px;
	box-sizing: border-box;
}

.responseMessageWrapper {
	padding-top: 10px;
	overflow-y: auto;
	padding-right: 10px;
	border-top: 1px solid #373737;
	padding-left: 12px;
	padding-bottom: 12px;
	flex-grow: 1;
}

.responseMessageWrapper.empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.responseMessageQuestion {
	border-radius: 0.5rem;
	color: white;
	width: 100%;
	text-wrap: wrap;
	display: flex;
	justify-content: flex-end;
}
.responseMessageQuestion p {
	background-color: #9352aa;
	padding: 12px 12px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin: 15px 0;
	font-size: 14px;
}

.responseMessageAnswer {
	border-radius: 0.5rem;
	color: white;
	width: 100%;
	text-wrap: wrap;
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
}

.responseMessageAnswer p {
	background-color: #262626;
	padding: 12px 12px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin: 0;
}

.promptFormWrapper {
	background-color: #334154;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}

.formWrapper {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-grow: 1;
	overflow: hidden;
	background-color: #111111;
	border-top: 1px solid #373737;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}

.text-input {
	resize: none;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 64px;
	padding-top: 22px;
	padding-bottom: 23px;
	color: white;
	outline: none;
	max-width: 100%;
	flex-grow: 1;
	outline: none;
	border: none;
}

.text-input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.sendButton {
	background-color: #545c6a;
	display: block;
	border: none;
	cursor: pointer;
	height: 100%;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ratePanelWrapper {
	background-color: #111111;
	border-radius: 13px;
	max-width: 450px;
	width: 100%;
}

.ratePanelContent {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #373737;
	padding-bottom: 48px;
}

.ratePanelContent h1 {
	font-size: 16px;
	text-align: center;
	color: white;
	max-width: 380px;
	margin: auto;
	padding-top: 24px;
	font-weight: 500;
	margin-bottom: 24px;
}

.ratePanelStars {
	display: flex;
	gap: 30px;
	align-items: center;
	margin: auto;
}

.ratePanelStar {
	color: white;
	padding: 24px;
	background-color: #4a5568;
	border-radius: 15px;
	cursor: pointer;
	line-height: 1;
}

.ratePanelStar:hover {
	background-color: #7283a2;
}

.ratePanelStarActive {
	background-color: #7283a2;
}

.closePanel {
	cursor: pointer;
}

.Logo {
}

.Logo img {
	width: 40px;
	height: 40px;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 24px;
}

.LogoRating img {
	width: 40px;
	height: 40px;
}

.commentPanelForm {
	padding: 0 25px;
}

.commentPanelForm textarea {
	padding: 22px;
	width: 100%;
	background-color: transparent;
	resize: none;
	border-radius: 13px;
	border: solid 1px rgba(255, 255, 255, 0.16);
	outline: none;
	color: white;
}

.commentButton {
	width: 100%;
	background-color: #9352aa;
	color: white;
	outline: none;
	border: none;
	padding: 13px 0;
	margin: 8px 25px 0 25px;
	max-width: 399px;
	border-radius: 13px;
	cursor: pointer;
}

.commentButton:hover {
	opacity: 0.9;
}

.rewardPanelButtons {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.yesButton {
	background-color: #9352aa;
	color: white;
	outline: none;
	border: none;
	padding: 13px 0;
	border-radius: 13px;
	cursor: pointer;
	width: 100%;
}

.noButton {
	background-color: white;
	color: #151515;
	outline: none;
	border: none;
	padding: 13px 0;
	border-radius: 13px;
	cursor: pointer;
	width: 100%;
}

.metamask {
	flex-grow: 1;
}

.chatPanelHeading {
	padding: 0 12px 20px 12px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.noMessageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}

.noMessageContainer h1 {
	font-size: 18px;
}
